body{
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}
header{
width: 100%;
height: 5.5rem;
align-items: center;
background-color: #fff;
display: flex;
justify-content: space-between;
position: relative;
top: 0%;
z-index: 1000;
}
.logo_container{
    display: flex;
    align-items: center;
    width: 100px;
    height: 44px;
    cursor: pointer;
    padding: 0 0 0 150px;
}
.logo_container img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.categories{
    height: 40px;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.categories a{
    width: 100%;
    color: #000000;  
    padding: 10px 5px;
    font-size: 1rem;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content:space-around;
    text-decoration: none;
}
.categories a:hover{
    background-color: #eeeef0;
    border-radius: 20px;
    transition: transform .2s cubic-bezier(.345,.115,.135,1.42), background .15s ease-out, box-shadow .2s ease-out;
}
.categories a i{ 
    display: flex;
    text-align: center;
    font-size: 1rem;
}
.search-bar{
    max-width: 600px;
    /* height: 100%; */
    display: flex;
    flex: 1;
    align-items: center;
    border: 2px solid gray;
    border-radius: 20px;
    padding: 0 0.5rem;
    overflow: hidden;
    background-color: #fff;
}

.search-bar input{
    width: 100%;
    padding: 0.7rem; 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: gray;
    border: none;          
    outline: none;
    font-size: 1rem;
}
.search-bar i{
    color: grey;
    padding: 8px;
    font-size: 1.2rem;  
    cursor: pointer;
    border: none;
    border-radius: 50px;
    background: #fff;

}
.search-bar i:hover{
    background-color: #eeeef0;
}
.carts{
    width: 300px;
    height: 100%;
    padding: 0 100px 0 0 ;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font: 1.2rem sans-serif;
    font-weight: bold;
    color: #000000;
}
.carts a{
    text-decoration: none;
    color: #000000;
    
}
.sign-btn{
    display: flex;
    align-items: center;
    min-width: 36px;
    min-height: 36px;
    padding: 10px 15px;
    font-size: 15px;
    line-height: 1.4;
}
.sign-btn:hover{
    background-color: #eeeef0;
    border: none;
    min-height:  25px ;
    border-radius: 100px ;
    transition: transform .2s cubic-bezier(.345,.115,.135,1.42), background .15s ease-out, box-shadow .2s ease-out;

}

.heart-btn{
    display: flex;
    align-items: center;
    min-width: 36px;
    min-height: 36px;
    padding: 9px 15px;
}
.heart-btn:hover{
    background-color: #eeeef0;
    border: none;
    min-height:  25px ;
    border-radius: 100px ;
    transition: transform .2s cubic-bezier(.345,.115,.135,1.42), background .15s ease-out, box-shadow .2s ease-out;

}
.cart-btn{
    display: flex;
    align-items: center;
    min-width: 36px;
    min-height: 36px;
    padding: 9px 15px;
}
.cart-btn:hover{
    background-color: #eeeef0;
    border: none;
    min-height:25px;
    border-radius: 100px ;
    transition: transform .2s cubic-bezier(.345,.115,.135,1.42), background .15s ease-out, box-shadow .2s ease-out;
}